node_modules
/node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# Rust target
/src-tauri/target
src-tauri/target/
/target
target/
*.db

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
